all:
  hosts:
    vps:
      ansible_host: your.server.ip
      ansible_user: your_user
      ansible_ssh_private_key_file: ~/.ssh/your_key
      ansible_become: true
      ansible_become_method: sudo

    homevm:
      ansible_host: localhost
      ansible_user: your_user
      ansible_port: 22
      ansible_ssh_private_key_file: ~/.ssh/your_key
      ansible_become: true
      ansible_become_method: sudo
      ansible_ssh_common_args: '-o ProxyCommand="ssh -i ~/.ssh/your_key -W localhost:2222 your_user@your.server.ip"'